@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,700;1,900&family=Roboto:ital,wght@0,300;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
   

}

body{
    background-color: #130c28;
    color: aliceblue;
    overflow-y: scroll;
    overflow-x: scroll;
}
.menu4-icon{
    display: none;
}
.chat-interface{
    left: 550px;
}
.room_title{
    font-weight: 500;
}
@media only screen and (max-width: 900px){
    .menu4-icon{
        top: 25px;
        display: block;
        position: absolute;
        width: 30px;
        right: 40px;
    }
    .chat-interface{
        left: 15px;
        width: 330px;
        height: 530px;
    }
    .room_title{
        font-size: 24px;
    }
    .chat-input{
        width: 290px;
        height: 40px;
    }
    .send-icon{
        width: 20px;
    }
    .chat-interface-content{
        height: 370px;
    }
    .menu3-icon{
        width: 30px;
        right: -60px;
        display: block;
        top: 25px;
        position: absolute;
    }
}