@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
   

}
::-webkit-scrollbar{
    width: 5px;
    max-height: 20%;
    
   
}
::-webkit-scrollbar-track{
    background-color: #24164B;
    
}
::-webkit-scrollbar-thumb{
    background-color: #553b9a;
    border-radius: 5px;
}
body{
    background-color: #130c28;
    color: aliceblue;
}
.home-bar{
    position: sticky;
    display: flex;
    flex-direction: row;
}
.logo{
    color: aliceblue;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 40px;
    letter-spacing: 3px;
}
.logo-img{
    position: absolute;
    margin-top: 20px;
    margin-left: 220px;
    width: 150px;
}
.menu2-icon{
    display: none;
}
.nav{
    margin-top: -60px;
    position: absolute;
    right: 0px;
    margin-right:70px ;
}
.nav .ul{
    display: flex;
    flex-direction: row;
    
    
}
.nav .ul .li{
    list-style: none;
    padding-left: 30px;
    font-size: 23px;
    color: white;
    font-weight: 200;
    letter-spacing: 3px;
}
.add-icon:hover{
    font-size: 28px;
    
}
.rooms-page{
    position: absolute;
    width: 420px;
    height: 630px;
    left: 311px;
    top: 94px;
    background: #24164B;
    border-radius: 7px;
}

.profile-head{
    display: flex;
    position: absolute;
  
}
.profile-img{
    position: relative;
    width: 40px;
    height: 42px;
    left: 37px;
    top: 18px;
}
.profile-img-mobile{
    display: none;
}
.user-name-mobile{
    display: none;
}
.user-name{
    position: relative;
    width: 390px;
    height: 57px;
    padding-left: 60px;
    top: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}
.openroom-btn{
    position: absolute;
    width: 170px;
    height: 38px;
    left: 31px;
    top: 80px;
    border-style: none;
    background: #7000FF;
    border-radius: 47px;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.openroom-btn2{
    position: absolute;
    width: 168px;
    height: 36px;
    left: 32px;
    top: 80px;
    background-color: #24164B;
    border-style: solid;
    border-color: white;   
    border-radius: 47px;
    color: white;
    font-size: 15px;
}
.closedroom-btn{
    box-sizing: border-box;
    position: absolute;
    width: 170px;
    height: 38px;
    left: 214px;
    top: 80px;
    background: #7000FF;
    color: white;
    border-radius: 47px;
    border-style: none;

    


}
.closedroom-btn2{
    box-sizing: border-box;
    position: absolute;
    width: 169px;
    height: 37px;
    left: 214px;
    top: 80px;
    color: white;
    background-color: #24164B;
    border: 1px solid #FFFFFF;
    border-radius: 47px;
}
.open-room-content{
    box-sizing: border-box;
    position: absolute;
    width: 332px;
    height: 380px;
    left: 40px;
    top: 158px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.open-room-img{
    position: sticky;
    width: 50px;
    left: 25px;
    top: 15px;
}
.openroom-head{
    position: sticky;
    width: 289px;
    height: 41px;
    left: 90px;
    top: 30px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.close-room-content{
    display: none;
    box-sizing: border-box;
    position: absolute;
    width: 332px;
    height: 380px;
    left: 48px;
    top: 158px;
    overflow-y: scroll;
    overflow-x:hidden;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}
.open-room-img{
    position: absolute;
    width: 50px;
    left: 25px;
    top: 15px;
}
.close-room-img{
    position: absolute;
    width: 50px;
    left: 25px;
    top: 15px;
}
.openroom-head{
    position: relative;
    width: 289px;
    height: 41px;
    left: 90px;
    top: 30px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.create-room-btn{
  position: absolute;  
width: 223px;
height: 51px;
left: 100px;
bottom: 20px;
box-sizing: border-box;
color: #FFFFFF;
font-size: 20px;
padding-left: 20px;
background: #34224B;
border: 1px solid #FFFFFF;
text-align: left;
border-radius: 16px;

}
.btm-nav{
    display: none;
}

@media only screen and (max-width: 600px){
    .nav-box{
        position: sticky;
        margin-top: 130px;
        transform: translateX(-200%);
        transition: transform 0.6s;
        z-index: 1;
        display: none;
    }
   
    
    .logo{
        margin: 20px;
        font-size: 27px;
        letter-spacing: 4px;
        display: none;
    }
    .logo-img{
        
        margin: 18px;
        width: 100px;
        margin-left: 140px;
        display: none;
    }

    
    .rooms-page{
        position: absolute;
        width:360px;
        height: 95vh;
        left: 0px;
        top: 120px;
        background: #24164B;
        border-radius: 30px;
    }
 
    .profile-head{
        display: flex;
    }
    .profile-img{
        position: absolute;
        width: 20px;
        height: 42px;
        left: 20px;
        top: -65px;
        display: none;
    }
    .user-name{
        display: none;
        font-size: 25px;
    }
    .profile-img-mobile{
        position: absolute;
        width: 35px;
        height: 35px;
        left: 20px;
        top: 10px;
        display: block;
    }
    .user-name-mobile{
        position: absolute;
        width: 390px;
        height: 57px;
        padding-left: 40px;
        top: 15px;        
        font-style: normal;
        left: 30px;
        font-weight: 400;
        font-size: 17px;
        display: block;
    }
    
   
    .openroom-btn2{
        width: 130px;
        font-size: 12px;
        left: 5px;
        height: 35px;
        top: -70px;
    }
    .room-btns{
        position: absolute;
        top: 15px;
        left: 30px;
        width: 90%;
        height: fit-content;
        padding-right: 10px;
    }
    .openroom-btn{
        width: 130px;
        font-size: 12px;
        
        left: 5px;
        height: 35px;
        top: -70px;
    }
    .closedroom-btn{
        width: 130px;
        font-size: 12px;
        left: 170px;
        height: 35px;
        top: -70px;
    }
    .closedroom-btn2{
      
        width: 130px;
        font-size: 12px;
        left: 170px;
        height: 35px;
        top: -70px;
    }
    .open-room-content{
        top: 0px;
        left:0px;
        width: 100%;
        height: 70vh;
        border-style: none;
        overflow-x:scroll;
        
        
    }
    .room-names ul li{
        position: relative;
        flex-grow: 1;
        list-style: none;
        margin-top: 20px;
        padding-top: 7px;
        width: 300px;
        height: 41px;
        left: 0px;
        top: 103px;
        background: #4E3F78;
        border-radius: 8px;
        text-align: center;
     
    
    }
    .room-names ul li:hover{
        font-size: 18px;
    }
  
    .open-room-img{
        left: 35px;
    }
    .openroom-head{
        font-weight: 400;
        font-size: 18px;
        left: 100px;
        
    }
    .close-room-content{
        top: 0px;
        left: 0px;
        width:100%;
        height: 70vh;
        border-style:none ;
    }
    .close-room-img{
        left: 35px;
    }
   
    .create-room-btn{
        position: absolute;
        bottom: -70px;
        left: 45px;
    }
    .create-room-h{
        top: 30px;

    }
    
    .closed-room-names{
        position: relative;
        top: 20px;
        left: 10px;
        
     }
     .closed-room-names ul li{
         position: relative;
         flex-grow: 1;
         list-style: none;
         margin-top: 20px;
         padding-top: 7px;
         width: 305px;
         height: 41px;
         left: 20px;
         top: 0px;
         background: #4E3F78;
         border-radius: 8px;
         text-align: center;

     }
    .create-room-int{
        position: absolute;
        top: 300px;
        left: 70px;
    }
    .name-int{
        top: 150px;
        left: 50px;
    }

}

