@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
   

}
::-webkit-scrollbar{
    width: 5px;
    max-height: 20%;
    
   
}
::-webkit-scrollbar-track{
    background-color: #1e1d22;
    
}
::-webkit-scrollbar-thumb{
    background-color: #5047ca;
    border-radius: 5px;
}
body{
    background-color: #000000;
    color: aliceblue;
    user-select: none;
    overflow-y: hidden;
}
.main{
    display: flex;
}


@media only screen and (max-width: 600px){
    body{
        background-color: #0E0D0F;
    }
    
    .main{
        display: flex;
        background-color: #0E0D0F;
    }
    .chat{
        background-color: #0E0D0F;
        user-select: none;
        display: none;
       
    }
     .cover{
        z-index: 1;
        position: fixed;
        background-color: #00000049;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1px);
        display: none;
       
     }
    .top-bar{
        position: fixed;
         background: #543EE0;
        height: 120px;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-radius: 9px;
    }
    .bar{
        position: absolute;
        bottom: 2px;
        width: 40%;
        left: 5%;
        height: 2px;
        border-radius: 31px;
        background: #E4CEFF;
        box-shadow: 0px -4px 17px 5px rgba(112, 0, 255, 0.34);
        transition: 0.4s;
    }
    .logo{
        margin: 20px;
        font-size: 27px;
        letter-spacing: 4px;
        display: none;
    }
    .logo-img{
        
        margin: 18px;
        width: 100px;
        margin-left: 140px;
        display: none;
    }
    .openroom-btn-txt{
       
        position: absolute;
        top: 19px;
        left: 10%;
    }
    .closeroom-btn-txt{
        color: #9d8fc5;
        position: absolute;
        top: 19px;
        right: 10%;
        font-weight: 300;
    }
    .profile-img{
        position: absolute;
        width: 20px;
        height: 42px;
        left: 20px;
        top: -65px;
        display: none;
    }
    .user-name{
        display: none;
        font-size: 25px;
    }
    .profile-img-mobile{
        position: absolute;
        width: 52px;
        height: 52px;
        left: 12px;
        top: 10px;
        display: block;
        border-radius: 50%;
        box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.26);
    }
    .user-name-mobile{
        position: relative;
        height: 57px;
        padding-left: 50px;
        top: 20px;        
        font-style: normal;
        left: 30px;
        font-weight: 400;
        font-size: 26px;
        max-width: 86%;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
 
    .room-btns{
        
        position:absolute;
        top: 55%;
        left: 0%;
        width: 100%;
       
      

    }
    .openroom-btn{
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.31));
        width: 130px;
        font-size: 12px;
        position: relative;
        left: 8%;
        height: 35px;
        top: 0;
    }
    .closedroom-btn{
        position: absolute;
        width: 130px;
        font-size: 12px;
        margin-right: auto;
        right: 8%;
        height: 35px;
        top: 0;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.31));
    }
    .input-field{
        position: absolute;
        top: 130px;
        left: 5%;
        display: flex;
        width: 90%;
    }
    .search-icon{
       
        position:absolute;
        top: 20px;
        left: 17%;
        width: 27px;
    }
    
    .search-int{
        position: relative;
        top: 10px;
        width: 85%;
        left: 15%;
        height: 45px;
        border-style: none;
        background-color: rgba(115, 103, 129, 0.4);
        border-radius: 5px;
        font-size: 18px;
        padding-left: 40px;
        color: white;
        
    }
    .clear-int{
        position: relative;
        width: 15px;
        height: 15px;
        top: 25px;    
        left: 6%;
        display: none;
    }

    .open-room-img{
        position: absolute;
        width: 50px;
        top: 9px;
        left: -7px;
    }
   .close-room-img{
    position: absolute;
    top: 13px;
    width: 44px;
    left: 0;
    display: none;
   }
   
   .open-room-content{
    position: absolute;
    top: 0px;
    width: 100%;
    border-top: 1px solid #25222d;
    bottom: 0px;
    overflow-y: scroll;
   
    scroll-snap-align: center;

   }
   .close-room-content{
    position: relative;
    top: 0px;
    left: 500px;
    width: 100%;
    border-top: 1px solid #25222d;
    bottom: 0px;
    overflow-y: scroll;
    display: block;
    scroll-snap-align: center;

   }
   .room-interface{
    position: absolute;
    top: 205px;
    width: 100%;
    background-color: #412c7c00;
    bottom: 70px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;


   }

   .open-room-content ul div{
    position: relative;
    flex-grow: 1;
    list-style: none;
    margin-top: 25px;
    width: 89%;
    height: fit-content;
    left: 25px;
    background: rgba(60, 52, 70, 0.62);

    border-radius: 30px 6px 6px 30px;
    display: flex;
    flex-direction: row;
}
.open-room-content ul div p{
    padding-top: 15px;
    text-align: left;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow:ellipsis; 
    white-space: nowrap;
    max-width: 80%;
}
.open-room-content ul div img{
    position: relative;
    left: -10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}


   .close-room-content ul div{
    position: relative;
    flex-grow: 1;
    list-style: none;
    margin-top: 25px;
    width: 89%;
    height: fit-content;
    left: 25px;
    background: rgba(60, 52, 70, 0.62);

    border-radius: 30px 6px 6px 30px;
    display: flex;
    flex-direction: row;

}
.close-room-content ul div p{
    padding-top: 15px;
    text-align: left;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow:ellipsis; 
    white-space: nowrap;
    max-width: 80%;
}
.close-room-content ul div img{
    position: relative;
    left: -10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}
.create-interface{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 93%;
    width: 100%;
    background-color: #171322;
    border-radius:6px;
    display: flex;
    flex-direction: column;
    transition: 0.8s;
    transform: translateY(180%);
    overflow-y: scroll;

}
.create-img{
    position: relative;
    background-color: #9748ff1a;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    left: 50%;
    top: 10px;
    transform: translate(-50%,0%);
    margin-bottom: 40px;
}
.create-img-img{
   margin-top: 20px;
   margin-left: 25px;
   height: 110px;
   opacity: 30%;
}
.create-open{
    width: 35%;
    position: relative;
    top: 10px;
    background: #6a58e0;
    height: 40px;
    left: 7%;
    border-radius: 8px;
    margin-bottom: 20px;
    color: white;
    font-size: 15px;
    border-style: none;
}
.create-close{
    width: 35%;
    position: absolute;
    top: 89px;
    background: #6a58e000;
    height: 40px;
    right: 7%;
    border-radius: 8px;
    margin-bottom: 20px;
    color: white;
    font-size: 15px;
    border: 1px solid #5F4CD4 ;
    
}

.create-room-h{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    top: 20px;
    font-size: 25px;
    font-weight: 300;

}

.file-int{
    position: relative;
    height: 45px;
    padding-top: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 7px;
    height: 45px;
    width: 70%;
    left: 15%;
    padding-left: 20px;
    text-align: center;
    border: 1px solid #5F4CD4;

    
}
.place-img{
    position: absolute;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%,0%);
    object-fit: cover;
    background-color: white;
    display: none;
}
.file-int::-webkit-file-upload-button {
    display: none;
  }
  
.create-interface-input{
    position: absolute;
    top: 400px;
    height: 45px;
    width: 70%;
    left: 15%;
    border-radius: 8px;
    margin-bottom: 20px;
    color: white;
    padding-left: 20px;
    font-size: 18px;
    background: #3A3655;
    border-style: none;
}
.create-interface-input2{
    position: relative;
    top: 60px;
    background: #3A3655;
    height: 45px;
    width: 70%;
    left: 15%;
    border-radius: 8px;
    margin-bottom: 20px;
    color: white;
    padding-left: 20px;
    font-size: 18px;
    border-style: none;
    display: none;
    
}
.create-room-int-button{
    position: relative;
    top: 50px;
    background: #5F4CD4;
    height: 45px;
    width: 70%;
    left: 15%;
    border-style: none;
    border-radius: 8px;
    margin-top: 10px;
    color: white;
    font-size: 18px;
}

.create-interface p{
    position: relative;
    text-align: center;
 margin-top: 20px;
 margin-left: 40px;
 margin-right: 40px;
 top: 50px;
}







    .bottom-nav{
        z-index: 1;
        position:fixed;
        bottom: 0px;
        display: flex;
        height: 53px;
        justify-content: flex-end;
        align-items: center;
        gap: 10%;
        background: #1b1720;
        width: 100%;
      
    }
    .bottom-nav img{

       position: relative;
       width: 22px;
       margin-right: 9%; 
     
    }
    
    .plus-icon2{
        display: none;
       
      
        
    }
    .ploder{
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%,-50%);
    }
    
    .loader {
        position: absolute;
        border: 10px solid #2a232f;
        border-radius: 50%;
        border-top: 10px solid #7e11fb;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        align-items: center;
        top: 50%;
      }
      .load{
        position: absolute;
        text-align: center;
        font-weight: 300;
        top: 52%;
        font-size: 20px;
        width: 100%;
        text-align: center;

      }
      
      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(720deg); }
      }
   
  
}