@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,700;1,900&family=Roboto:ital,wght@0,300;1,400;1,500&display=swap');*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
   

}
body{
    background-color: #170f30;
    overflow-x: hidden;
}
.home-bar{
    position: sticky;
    display: flex;
    flex-direction: row;
}
.logo{
    color: aliceblue;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 45px;
    letter-spacing: 3px;
}
.logo-img{
    position: absolute;
    margin-top: 40px;
    margin-left: 220px;
    width: 170px;
}
.menu-icon{
    display: none;
}
.close-icon{
    display: none;
}
nav{
    margin-top: -66px;
    position: absolute;
    right: 0px;
    margin-right:70px ;
}
nav ul{
    display: flex;
    flex-direction: row;
    
    
}
nav ul li{
    list-style: none;
    padding-left: 30px;
    font-size: 23px;
    color: white;
    font-weight: 200;
    letter-spacing: 3px;
}
li:hover{
    font-size: 28px;
    
}
.slogan{
    position: absolute;
    color: #FFFFFF;
    font-size: 60px;
    max-width: 1000px;
    margin-top: 100px;
    font-style: italic;
    left: 650px;
    line-height: 90px;
}
.chat-img{
    position: absolute;
    width: 600px;
    top: 150px;
    left: 10px;
    filter: drop-shadow(0px 3px 51px rgba(112, 0, 255, 0.72));
}
.signup-btn{
    position: relative;
    width: 170px;
    height: 56px;
    left: 750px;
    top: 360px;
    border-style: none;
    background: #6600ff;
    border-radius: 15px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
.arrow{
    position: relative;
    width: 26px;
    left: 845px;
    top: 367px;
}
.continue-btn{
    position: absolute;
    left: 1000px;
    top: 468px;
    width: 170px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #6f00ff;
    background: #170D2D;
    color: #FFFFFF;
    font-size:16px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
}
.continue-p{
    margin-top: 10px;
    margin-left: 17px;
    user-select: none;
    font-size: 20px;
}
.arrow{
    position: relative;
    width: 20px;
    height: 20px;
    left: 25px;
    top: 15px;
}
.chat-img{
    position: absolute;
    width: 650px;
    top: 100px;
    left: -25px;
    
}
.explore{
    color: #dcdcdc;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 130px;
    
}
.exp-arrow{
    position: relative;
    width: 49px;
    top: 20px;
    left: 150px;
    height: 55.391px;
    transform: rotate(90deg);
    flex-shrink: 0;
}
.fea-h{
    position: relative;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 500;
    top: 400px;
    left: 42%;
}
.fea-p{
    position:relative;
    top: 400px;
    color: white;
    left: 43.5%;
    font-size: 20px;
    font-weight: 300;
}
.fea-1{
    display: flex;
    flex: auto;
    position: relative;
    width: 666px;
    height: 373.211px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(112, 0, 255, 0.44);
    top: 500px;
    left: 50px;
}
.fea1-img{
    position: relative;
    margin: 20px;
}
.fea2-img{
    position: relative;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.25);
}
.fea3-img{
    position: relative;
    margin: 20px;
    width: 312px;   
    border-radius: 10px;
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.25);
}

.fea-1 h3{
    position: absolute;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    top: 20px;
    left: 60%;
}
.fea-1 p{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 90px;
    color: white;
    padding: 30px;
}
.fea-2{
    display: flex;
    flex: auto;
    position: relative;
    width: 666px;
    height: 373.211px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(112, 0, 255, 0.44);
    top: 128px;
    left: 800px;
}
.fea-2 h3{
    position: absolute;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    top: 20px;
    left: 60%;
}
.fea-2 p{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 90px;
    color: white;
    padding: 30px;
}
.fea-3{
    display: flex;
    flex: auto;
    position: relative;
    width: 666px;
    height: 373.211px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(112, 0, 255, 0.44);
    top: 200px;
    left: 50px;
}
.fea3-img{
    position: relative;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.25);
}
.fea-3 h3{
    position: absolute;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    top: 20px;
    left: 60%;
}
.fea-3 p{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 90px;
    color: white;
    padding: 30px;
}

.fea-4{
    display: flex;
    flex: auto;
    position: relative;
    width: 666px;
    height: 373.211px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(112, 0, 255, 0.44);
    top: -173px;
    left: 800px;
}
.fea4-img{
    position: relative;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.25);
}
.fea-4 h3{
    position: absolute;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    top: 20px;
    left: 60%;
}
.fea-4 p{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 90px;
    color: white;
    padding: 30px;
}
.contact h2{
    position: relative;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 400;
    left: 33%;
}
.name{
    display: flex;
    width: 447px;
    padding: 14px 283px 23px 17px;
    align-items: center;
    border-radius: 7px;
    background: #4C2C75;
    font-size: 20px;
    text-align: center;
    border-style: none;
    padding-top: 30px;
    height: 55px;
    color: white;
}
.email{
    margin-top: 30px;
    display: flex;
    width: 447px;
    padding: 14px 283px 23px 17px;
    align-items: center;
    border-radius: 7px;
    background: #4C2C75;
    font-size: 20px;
    text-align: center;
    border-style: none;
    padding-top: 30px;
    height: 55px;
    color: white;
}
.message{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 447px;
    padding: 14px 283px 23px 17px;
    align-items: center;
    border-radius: 7px;
    background: #4C2C75;
    font-size: 20px;
    text-align: center;
    border-style: none;
    padding-top: 30px;
    height: 155px;
    color: white;
}
.input-box{
    position: relative;
    top: 100px;
    left: 35%;
    display: flex;
    flex-direction: column;
}
.send-btn{
    width: 188px;
    height: 56.4px;
    background: #7000FF;
    box-shadow: 0px 4px 17px 0px rgba(112, 0, 255, 0.29);
    border-radius: 8px;
    color: white;
    font-size: 20px;
    border-style: none;
    margin-bottom: 30px;
}
.socials img{
    position: relative;
    top: 100px;
    width: 40px;
    margin: 30px;
    left: 40%;
}
.summa{
    color: #858585;
    position: relative;
    top: 400px;
    left: 30%;
}
@media only screen and (max-width: 900px){
    body{
        user-zoom: 100px;
        overflow-x:hidden;
    }
    .nav-box{
        position: sticky;
        top: 80px;
        margin-top: -40px;
        transform: translateX(-100%);
        transition: transform 0.6s;
        z-index: 1;
    }
    .display{
        transform: translateX(0%);
    }
    .display2{
        transform: translateX(0%);
    }
    
    .home-bar{
        position: sticky;
        top: 0px;
        background-color: #170f30;
        z-index: 1;
        

    }
    nav{
        position: sticky;
        z-index: 2;
        background: rgba(217, 217, 217, 0.04);
        border: 0.1px solid #FFFFFF;
        backdrop-filter: blur(25.5px);
        border-radius: 5px;
        width: auto ;
        height: auto;
        
    }
    nav ul{
        padding-left: 20px;
        padding-right: 30px;
        padding-bottom: 40px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        
    }
    nav ul li{
        font-size: 24px;
        letter-spacing: 1px;
        color: #ffffff;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: 500;
        
     
    }
    li:hover{
        font-size: 30px;
    }
    
    .logo{
        margin: 20px;
        font-size: 27px;
        z-index: 1;
        letter-spacing: 4px;
    }
    .logo-img{
        z-index: 1;
        margin: 18px;
        width: 100px;
        margin-left: 140px;
    }
    .menu-icon{
        position: absolute;
        display: inline;
        width: 28px;
        margin-top: 26px;
        right: 20px;
       
    }
    .close-icon{

        position: absolute;
        display: none;
        width: 28px;
        margin-top: 26px;
        right: 20px;
       
    }

   
    .slogan{
        top: -10px;
        left: 0;
        position: absolute;
        margin-right: 20px;
        font-size: 38px;
        line-height: 50px;
        margin-left: 16px;
    }
    .signup-btn{
        position: absolute;
        top: 520px;
        margin-bottom: 200px;
        left: 30px;
        font-size:16px;
        height: 40px;
        width: 130px;
        border-radius: 9px;
       
    }
    
    .continue-btn{
        position: absolute;
        top: 520px;
        left: 200px;
        height: 40px;
        width: 130px;
        border-radius: 8px;
        border: 1px solid #7000FF;
        background: #170D2D;
        color: #FFFFFF;
        font-size:16px;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
    }
    .continue-p{
        font-size:16px;
        margin-top: 7px;
        margin-left: 15px;
        user-select: none;
    }
    .arrow{
        position: relative;
        width: 15px;
        height: 15px;
        left: 15px;
        top: 12px;
    }
    .chat-img{
        position: absolute;
        width: 420px;
        top: 130px;
        left: -25px;
        
    }
    .explore{
        color: #dcdcdc;
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        letter-spacing: 3px;
        margin-top: 130px;
        
    }
    .exp-arrow{
        position: relative;
        width: 49px;
        top: 20px;
        left: 160px;
        height: 55.391px;
        transform: rotate(90deg);
        flex-shrink: 0;
    }
    .fea-h{
        font-size: 30px;
        left: 35%;
        top: 90px;
    }
    .fea-p{
        font-size: 15px;
        left: 32%;
        top: 90px;
        font-weight: 100;
    }
    .fea-1{
        display: flex;
        flex-direction: column;
        width: 92.5%;
        height: 447px;
        left: 10px;
        top: 150px;
    }
    .fea1-img{
        position: relative;
        top: 60px;
        width: 250px;
        height: 250px;
        margin: 5px;
        left: 11%;
    }
    .fea-1 h3{
        font-size: 20px;
        left: 120px;
    }
    .fea-1 p{
        top: 30px;
        width: 300px;
        left: 16px;
        font-size: 15px;
        
    }
    .fea-2{
        display: flex;
        flex-direction: column;
        width: 92.5%;
        height: 447px;
        left: 10px;
        top: 190px;
    }
    .fea2-img{
        position: relative;
        top: 60px;
        width: 250px;
        height: 250px;
        margin: 5px;
        left: 13%;
    }
    .fea-2 h3{
        font-size: 20px;
        left: 60px;
    }
    .fea-2 p{
        top: 30px;
        width: 300px;
        left: 26px;
        font-size: 15px;
        
    }
    .fea-3{
        display: flex;
        flex-direction: column;
        width: 92.5%;
        height: 447px;
        left: 10px;
        top: 220px;
    }
    .fea3-img{
        position: relative;
        top: 60px;
        width: 250px;
        height: 250px;
        margin: 5px;
        left: 13%;
    }
    .fea-3 h3{
        font-size: 20px;
        left: 40px;
    }
    .fea-3 p{
        top: 30px;
        width: 300px;
        left: 26px;
        font-size: 15px;
        
    }
    .fea-4{
        display: flex;
        flex-direction: column;
        width: 92.5%;
        height: 500px;
        left: 10px;
        top: 240px;
    }
    .fea4-img{
        position: relative;
        top: 60px;
        width: 250px;
        height: 250px;
        margin: 5px;
        left: 13%;
    }
    .fea-4 h3{
        font-size: 20px;
        left: 60px;
    }
    .fea-4 p{
        top: 30px;
        width: 300px;
        left: 26px;
        font-size: 15px;
        
    }
    .contact h2{
        font-size: 25px;
        top: 350px;
        left: 15%;
    }
    .input-box{
        top: 400px;
        left: 30px;
        width: 100%;
    }
    .name{
        padding: 0;
        left: 20px;
        width: 85%;
 
    }
    .email{
        padding: 0;
        left: 20px;
        width: 85%; 
    }
    .message{
        padding: 0;
        left: 20px;
        width: 85%; 
    }
    .send-btn{
        width: 140px;
        height: 50px;
        font-size: 17px;
    }
    .socials img{
        position: relative;
        top: 400px;
        width: 40px;
        margin: 15px;
        left: 23%;
    }
    .summa{
        margin-top: 80px;
        left: 10px;
    }
  
}